body {
	margin: 0;
}

.calcite-theme-light {
	--calcite-ui-brand: #d42323;
}
.esri-basemap-gallery__item--selected,
.esri-basemap-gallery__item.esri-basemap-gallery__item--selected:hover,
.esri-basemap-gallery__item.esri-basemap-gallery__item--selected:focus {
	border-left-color: #d42323;
	background-color: #d423230f;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #000000 #ebebeb;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: #ebebeb;
  border: 0px none #ffffff;
  border-radius: 50px;
}

*::-webkit-scrollbar-thumb {
	background-color: #000000;
	border-radius: 50px;
	border: 0px none #ffffff;
}
